* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

body,
html,
#root {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.content {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
