.title {
  margin-top: 25px;
  margin-bottom: 20px;
}
.customTable .ant-table-cell {
  font-size: 16px !important;
}
td {
  font-size: 16px;
}

.customTable .ant-table-thead > tr > th,
.customTable .ant-table-tbody > tr > td {
  padding: 8px;
}

.customTable .ant-table-cell {
  word-break: break-word;
}
.fixedImage {
  width: 50px !important; // Устанавливаем фиксированную ширину изображения
  height: 50px !important; // Устанавливаем фиксированную высоту изображения
  object-fit: contain; // Обрезка изображения, чтобы оно соответствовало заданным размерам
}
